:root {
        --color-iris: #4d5ae5;
        --color-ocean: #404bbf;
        --color-navy-blue: #2e2f42;
        --color-green: #31d0aa;
        --color-slate: #434455;
        --color-light-slate: #8e8f99;
        --color-cornflower: #e7e9fc;
        --color-cloud: #f4f4fd;
        --color-navy-blue-modal: #2e2f42;
        --color-grey: #2e2f42;
        --color-white: #ffffff;
        --color-dairy: #fcfcfc;
}

body {
    background-color: var(--color-white);
    font-family: 'Roboto', sans-serif;
    color: var(--color-slate);
}
.web {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: calc (21 / 18);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-iris);
}
.studio {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: calc (21 / 18);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-navy-blue);
}
.studio-2 {
    color: var(--color-cloud);
}

.header-menu-link {
    color: var(--color-navy-blue);
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: calc(24 / 16);
}
.header-menu-link:hover,
.header-menu-link:focus {
        color: var(--color-ocean);
}
.address-link {
    color: var(--color-slate);
    letter-spacing: 0.02em;
    line-height: calc(24 / 16);
    font-style:normal ;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}

.address-link:hover,
.address-link:focus {
color: var(--color-ocean);
}
.button {
    font-weight: 500;
    font-family: 'Roboto';
    background-color: var(--color-iris);
    cursor: pointer;
    letter-spacing: 0.04em;
    color: var(--color-white);
    width: 169px;
    height: 56px;
    line-height: calc(24 / 16);
}
.button:hover,
.button:focus {
    background-color: var(--color-ocean);
    color: var(--color-white);
}
.mission,
.apps {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
}

.mission-p,
.apps-p {
        letter-spacing: 0.02em;
        color: var(--color-slate);
        line-height: calc(24 / 16);
}
footer {
    background-color: var(--color-navy-blue);
    width: 1440px;
    height: 312px;
}
.footer-p {
        letter-spacing: 0.02em;
        color: var(--color-cloud);
        line-height: calc(24 / 16);
}

.studio-2 {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    color: var(--color-cloud);
}
.header-section {
    background-color: var(--color-navy-blue);
} 
.header-main {
        font-size: 56px;
        line-height: calc(60 / 56);
        letter-spacing: 0.02em;
        color: var(--color-white);
        text-align: center;
}

.header2 {
        font-size: 36px;
        line-height: calc(40 / 36);
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--color-navy-blue);
}
.names {
        font-weight: 500;
        font-size: 20px;
        line-height:calc(24/20);
        letter-spacing: 0.02em;
        color: var(--color-navy-blue);
}
.names-p {
    font-weight: 400;
    letter-spacing: 0.02em;
    color: var(--color-slate);
color: hsl(0, 100%, 50%);
line-height: calc(24 / 16);
}
