body {
    background: #E5E5E5;
}
.web {
    font-family: 'Raleway';
    font-weight: 800;
    color: #4D5AE5;
    font-size: 18px;
    text-decoration: none;
}
.studio {
    font-family: 'Raleway';
    font-weight: 800;
    color: #2E2F42;
    font-size: 18px;
    text-decoration: none;
}
.header-menu {
    font-family: 'Roboto';
    font-size: 16px;
    color: #2E2F42;
    font-weight: 500;
}
.header-address {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    color: #434455;
}
.address:hover,
.address:focus {
color: black;
}
.button {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
     color: #4D5AE5;
     cursor: pointer;
}
.button:hover,
.button:focus {
    background: #404BBF;
    color: white;
}
h3 {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    color: #2E2F42;
}
p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    color: #434455;
}
footer {
    background-color: #2E2F42;
    width: 1310px;
    height: 312px;
}
.footer-p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    color: #F4F4FD;
}
.web-2 {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    color: #4D5AE5;
}
.studio-2 {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
     color: #F4F4FD;
}